body,
html,
#root {
  height: 100%;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 251);
  color: brown;
  padding: 32px;
}
